.modal{
    position: fixed;
    top:50%;
    left:50%;
    width: 60%;
    min-height: 20%;
    padding: 10px;
    transform: translate(-50%,-50%);
    z-index: 100;

    &::backdrop {
        backdrop-filter: blur(3px);
    }
}