
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;800&family=Raleway:ital,wght@0,400;1,100;1,800&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background-color: rgb(239,239, 239);
    font-family: 'Montserrat', sans-serif;
   
}

